# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore system files
*.DS_Store
*.log

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore